{% extends "layout.html" %}
{% load static %}
{% block title %}{{ data.titulo }}{% endblock %}
{% block body %}

<!-- PAGINA 1 -->
{% include "paginas/pag1.html" %}
<!-- PAGINA 1 -->
    <br>
<!-- PAGINA 2 -->
{% include "paginas/pag2.html" %}
<!-- PAGINA 2 -->

<!-- PAGINA 3 --> 
{% include "paginas/pag3.html" %}
<!-- PAGINA 3 --> 

<!-- PAGINA 4 -->
{% include "paginas/pag4.html" %}
<!-- PAGINA 4 -->

<!-- PAGINA 5 -->
{% include "paginas/pag5.html" %}
<!-- PAGINA 5 -->

<!-- PAGINA 6 -->
{% include "paginas/pag6.html" %}
<!-- PAGINA 6 -->

<!-- PAGINA 7 -->
{% include "paginas/pag7.html" %}
<!-- PAGINA 7 -->

<!-- PAGINA 8 -->
 {% include "paginas/pag8.html" %}
<!-- PAGINA 8 --> 
 

{% endblock %}