 

    <!-- INFORMACION DEL CLIENTE -->
    {% include "menu/infoCliente.html" %}
    <br>
    <p>{{id}}</p>
    <!-- IMPRIME TODOS LOS MESES  -->
     <h2>QUERY GENERADO</h2>
<br>
    <pre>
        {{ meses }}
    </pre>
    <!-- IMPRIME TODOS LOS MESES -->

    <!-- INFORMACION DEL CLIENTE -->
<h2>Resultado del reporte</h2>
<table> 
    <thead>
        <tr>
        {% if data %}
            {% for col in data.0.keys %}
                <th>{{ col }}</th>
            {% endfor %}
        {% endif %}
        </tr>
    </thead>

<tbody>
    {% for row in data %}
    <tr>
        {% for value in row.values %}
            <td>{{ value }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</tbody>

</table>

 