<!-- Tiempos de Restauración Fallas de  Energía en  Sitios del Cliente -->


<!-- HOJA 18-->
<div class="hoja col-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"> </div>
            <div class="col-10 p-3 text-center text-white fondo_rojo espaciotitulo">
                <h1><b>Top 20 de Sitios Reincidentes por Energía</b></h1>
            </div>
            <div class="col-1"> </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <br><br>
                <table class="table table-sm table-condensed table-striped" >
                    <thead>
                    
                    <tr style="background-color: #ff0000;">
                        <td  class="rojo text-center" style=" width: 15%;" ><b>ENLACE</b></td>
                        <td  class="rojo text-center" style=" width: 50%;" ><b>UBICACION</b></td>
                        <td  class="rojo text-center" style=" width: 10%;" ><b>CUENTA DE ENLACE</b></td> 
                        <td  class="rojo text-center" style=" width: 10%;" ><b>PROMEDIO DURACIÓN TK</b></td>
                    </tr>
                   
                </thead>
                <tbody style="font-size: 14px !important;">    
                    {% if paginas_data.pag_19.rows %}
                        {% for c in paginas_data.pag_19.rows %}
                         <tr>
                             <td>{{ c.0 }}</td>
                             <td> {{ c.1|default_if_none:"--"|striptags  }} </td>
                             <td class="text-right">{{ c.2 }}</td>
                             <td class="text-center">{{ c.3}}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="4" class="text-center">NO SE ENCUENTRA TICKETS </td>
                    {% endif %} 
            
                  </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<!-- FIN HOJA 18-->