<!--PAGINA 11-->
<div class="container-fluid hoja">
    <div class="row abs-center">
        <div class="col-1"></div>
        <div class="col-10 p-3 text-center text-white" style="background-color: #ff0000;">
            <h1>Atribución de Tickets Reactivos</h1>
        </div>
        <div class="col-1" style="background-color: #ffffff;"> </div>
    </div>
    <div class="contenido_hoja">
        
        
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <br><br><br>
                
              <table class="table table-condensed table-stripedes"> 
                  <thead>
                      <tr style="background-color: #ff0000; " >
                          <td class="rojo text-center" style="width: 42%;"><b>ATRIBUCION</b></td>
                          <td class="rojo text-center" style="width: 10%;"> <b>{{meses.MES_5}}</b></td>
                          <td class="rojo text-center" style="width: 10%;"> <b>{{meses.MES_4}}</b></td>
                          <td class="rojo text-center" style="width: 10%;"> <b>{{meses.MES_3}}</b></td>
                          <td class="rojo text-center" style="width: 10%;"> <b>{{meses.MES_2}}</b></td>
                          <td class="rojo text-center" style="width: 10%;"> <b>{{meses.MES_1}}</b></td>
                          <td class="rojo text-center" style="width: 10%;"> <b>{{meses.MES}}  </b></td>
                      </tr>
                  </thead>
               
                <tr class="text-center">
                  {% for val in paginas_data.pag_11.rows.0 %}
                    <td>{{val|default_if_none:"0"}}</td>
                  {% endfor %}
                </tr>

                <tr class="text-center">
                  {% for val in paginas_data.pag_11.rows.1 %}
                    <td>{{val|default_if_none:"0"}}</td>
                  {% endfor %}
                </tr>
                
                <tr class="text-center">
                    <td><b>TOTAL</b></td>
                    <td><b>{{paginas_data.pag_11.rows.1.1|add:paginas_data.pag_11.rows.0.1}}</b></td>
                    <td><b>{{paginas_data.pag_11.rows.1.2|add:paginas_data.pag_11.rows.0.2}}</b></td>
                    <td><b>{{paginas_data.pag_11.rows.1.3|add:paginas_data.pag_11.rows.0.3}}</b></td>
                    <td><b>{{paginas_data.pag_11.rows.1.4|add:paginas_data.pag_11.rows.0.4}}</b></td>
                    <td><b>{{paginas_data.pag_11.rows.1.5|add:paginas_data.pag_11.rows.0.5}}</b></td>
                    <td><b>{{paginas_data.pag_11.rows.1.6|add:paginas_data.pag_11.rows.0.6}}</b></td>
                </tr>
                
              </table>
            </div>

            <div class="col-2"></div>
        </div>

        <!-- espacio para LAS GRAFICAS  -->        
          <br><br>
        <!-- espacio para LAS GRAFICAS  -->   

        <div class="row">
            <div class="col-1"></div>

            <div class="col-12">                
              <figure class="highcharts-figure">
                <canvas id="container2"></canvas>
              </figure>
            </div>
        </div>

    </div>
</div>

<script>
  const data_num10 = [
    '{{ paginas_data.pag_11.rows.0.1 }}','{{ paginas_data.pag_11.rows.0.2 }}','{{ paginas_data.pag_11.rows.0.3 }}',
    '{{ paginas_data.pag_11.rows.0.4 }}','{{ paginas_data.pag_11.rows.0.5 }}','{{ paginas_data.pag_11.rows.0.6 }}'
  ];

  const data_nume10 = [
    '{{ paginas_data.pag_11.rows.1.1 }}','{{ paginas_data.pag_11.rows.1.2 }}','{{ paginas_data.pag_11.rows.1.3 }}',
    '{{ paginas_data.pag_11.rows.1.4 }}','{{ paginas_data.pag_11.rows.1.5 }}','{{ paginas_data.pag_11.rows.1.6 }}'
  ];

  const numerosEnteros10  = data_num10.map(n => parseInt(n) || 0);
  const numerosEnteross10 = data_nume10.map(n => parseInt(n) || 0);

  const canvas = document.getElementById('container2');
  const ctxLine2 = canvas.getContext('2d');


  // Registrar plugin de etiquetas
  Chart.register(ChartDataLabels);

  new Chart(ctxLine2, {
    type: 'bar',   //   CAMBIO PRINCIPAL: column chart
    data: {
      labels: [
        '{{meses.MES_5}}','{{meses.MES_4}}','{{meses.MES_3}}',
        '{{meses.MES_2}}','{{meses.MES_1}}','{{meses.MES}}'
      ],
      datasets: [
        {
          label: '{{paginas_data.pag_11.rows.0.0}}',
          data: numerosEnteros10,
          backgroundColor: 'rgba(255, 0, 0, 0.7)',
          borderColor: 'rgba(255, 0, 0, 0.7)',
          borderWidth: 1
        },
        {
          label: '{{paginas_data.pag_11.rows.1.0}}',
          data: numerosEnteross10,
          backgroundColor: 'rgba(102, 102, 102)',
          borderColor:     'rgba(102, 102, 102)',
          borderWidth: 1
        }
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: true,
      aspectRatio: 2,
      animation: false, // Ideal para PDF   
      plugins: {
        datalabels: {
          display: true,
          font: { size: 12 },
          padding: 4,
          color: "white",
          anchor: (context) => {
            return context.datasetIndex === 0 ? 'end' : 'start';
          },
          align: (context) => {
            return context.datasetIndex === 0 ? 'top' : 'bottom';
          }
        },
        title: {
            display: true,
            text: 'Atribución de Tickets Reactivos',
            align: 'start',
            font: {
              size: 20, // Change title font size here
              weight: 'bold', // Optional: bold, normal, etc.
              family: 'Arial' // Optional: custom font family
            },
        },
      },
      scales: {
        x: { stacked: true },
        y: {
          stacked: true,
          beginAtZero: true,
          title: {
            display: true,
            text: 'Tickets'
          }
        }
      }
    }
  });
</script>

<!--FIN PAGINA 11-->