<!-- ESTA PAGINA ES EXCLUSIVA PARA LOS CLIENTES DE BANRURAL  -->

<!-- hoja 2 -->
<div class="hoja col-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 p-3 text-center text-white fondo_rojo espaciotitulo">
                <h1><b> PAG 22 </b></h1>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <br><br>

                <ul>
                    <li><h3>NO SE QUE TRAE AJASJAJ.</h3></li>
                    
                </ul>

            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<!-- fin hoja 2 -->