<!-- hoja 2 -->
<div class="hoja col-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 p-3 text-center text-white fondo_rojo espaciotitulo">
                <h1><b>Objetivo</b></h1>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <br><br>

                <ul>
                    <li><h3>Disminuir el número de casos reactivos del Cliente.</h3></li>
                    <li><h3>Disminuir los tiempos de afectación de servicio.</h3></li>
                    <li><h3>Mostrar los resultados obtenidos durante el monitoreo proactivo.</h3></li>
                </ul>

            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<!-- fin hoja 2 -->