 
<!-- hoja 3 -->
<div class="hoja col-12">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-1"></div>
            <div class="col-10 p-3 text-center text-white fondo_rojo espaciotitulo">
                <h1><b>Monitoreo Proactivo y Atención Reactiva</b></h1>
            </div>
            <div class="col-1"></div>
        </div>
        <br>
        <br>
        <div class="row">
            
            <div class="col-1"></div>

            <div class="col-10">
                 <ul class="fs-2 lh-lg">
                    <li> <span style="color: red; font-weight: bold;"> Proactivo: </span>  Servicio basado en el monitoreo y análisis estadístico de alarmas de la red del Cliente <strong>{{ data.nombre }}</strong> por el C‑NOC.</li>
                    <li> <span style="color: red; font-weight: bold;"> Reactivo:  </span>Atención de caso a solicitud del Cliente.</li>
                </ul>
            </div>

            <div class="col-1"></div>
        </div>
    </div>
</div>
<!-- fin hoja 3 -->
