 
<!-- hoja 3 -->
<div class="hoja col-12">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-1"></div>
            <div class="col-10 p-3 text-center text-white fondo_rojo espaciotitulo">
                <h1><b>Monitoreo Proactivo y Atención Reactiva</b></h1>
            </div>
            <div class="col-1"></div>
        </div>
        <br>
        <br>
        <div class="row">
            
            <div class="col-1"></div>
            <div class="col-10">
                <h3>
                    <li>Proactivo: Servicio basado en el monitoreo y el análisis estadístico de alarmas de la red del
                        Cliente {{data.nombre}} por el C-NOC. </li>
                </h3>
                <h3>
                    <li>Reactivo: Atención de caso a solicitud del Cliente
                    </li>
                </h3>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<!-- fin hoja 3 -->
