<!-- HOJA 5 -->
<div class="hoja col-12">
    <div class="container-fluid">

        <!-- TITULO -->
        <div class="row">
            <div class="col-1"></div>

            <div class="col-10 p-3 text-center text-white fondo_rojo espaciotitulo">
                <h1> <b>Indicadores</b> </h1>
            </div>

            <div class="col-1"></div>
        </div>

        <div class="row">
            <!-- TABLA CLIENTE -->
            <div class="col-1"></div>

            <div class="col-5">
                <br><br><br><br><br><br><br> 

                <table class="table  table-striped celdas" >                    <thead>
                       <tr>
                         <td colspan="2" class="rojo text-center" style="background-color:#ff0000;">
                             <b>Datos del cliente</b>
                         </td>
                       </tr>
                    </thead>

                    <tr>
                        <td>Cliente</td>
                        <td>{{data.nombre}}</td>
                    </tr>

                    <tr>
                        <td>Sector</td>
                        <td>Grandes Empresas</td>
                    </tr>

                    <tr>
                        <td>Alcance de Servicios</td>
                        <td>Datos/Internet</td>
                    </tr>

                    <tr>
                        <td>Sitios Monitoreados</td>
                        <td>{{data.sitios}}</td>
                    </tr>

                    <tr>
                        <td>Período de Reporte</td>
                        <td>{{mes}} {{data.anio}}</td>
                    </tr>

                </table>
            </div>

            <div class="col-1"></div>

            <!-- TABLA INCIDENTES -->
            <div class="col-3">
                <br><br><br><br><br><br><br><br>
            <table class="table   table-striped celdas">

                <thead>
                    <tr>
                        <td class="rojo text-center" style="background-color:#ff0000;width:15%;">  <b>Resp.</b>      </td>
                        <td class="rojo text-center" style="background-color:#ff0000;width:20%;">  <b>Incidentes</b> </td>
                        <td class="rojo text-center" style="background-color:#ff0000;width:20%;">  <b>%</b>          </td>
                    </tr>
                </thead>

                <tbody>
                    {% for fila in paginas_data.pag_5.rows %}
                    <tr class="text-center ">
                        <td>{{ fila.0 }}</td>
                        <td>{{ fila.1 }}</td>
                        <td>{{ fila.2  }} %</td>
                    </tr>
                    {% endfor %}
                    <!-- TOTAL -->
                    <tr class="text-center ">
                        <td><b>Total</b></td>
                        <td> <b> {{ paginas_data.pag_5.rows.0.3 }} </b> </td>
                        <td><b>100% </b></td>
                    </tr>
                </tbody>
            </table>

            </div>

        </div>
    </div>
</div>
<!-- FIN HOJA 5 -->