
<!--PAGINA 6-->
<div class="container-fluid hoja">
    <div class="row abs-center">
        <div class="col-1"></div>
        <div class="col-10 p-3 text-center text-white" style="background-color: #ff0000;">
            <h1>Histórico de Indicadores</h1>
        </div>
        <div class="col-1" style="background-color: #ffffff;"> </div>
    </div>
    <div class="contenido_hoja">
        <div class="row">
         <div class="col-2"></div>
         <div class="col-8">
            <br>
            <br>
            <br>
            <br>
            <table class="table table-condensed table-stripedes">
                <thead>
                <tr>
                    <td  class="rojo text-center" style="background-color: #ff0000; width: 20%;" ><b>Indicadores</b>                    </td>
                    <td  class="rojo text-center" style="background-color: #ff0000; width: 50%;" ><b>Descripción</b></td>  
                   
                </tr>
            </thead>
           
                <tr >
                    <td>% Incidentes <= 8 horas</td>
                    <td>Porcentaje de incidentes resueltos en menos de 8 horas.                    </td>
                    
                </tr>
                <tr >
                    <td>% Incidentes > 8 horas
                    </td>
                    <td>Porcentaje de incidentes resueltos en más de 8 horas.
                    </td>
                    
                </tr>
                <tr >
                    
                    <td>Proactividad                    </td>
                    <td>Cantidad de tickets proactivos respecto al total de tickets(proactivos y reactivos).
                    </td>               
                </tr>
                <tr >
                    
                    <td>Sitios Reincidentes
                    </td>
                    <td>Cantidad de sitios reincidentes con o sin afectación atribuibles a Claro.
                    </td>               
                </tr>
                <tr >
                    
                    <td>Índice de Reincidencias
                    </td>
                    <td>Porcentaje de enlaces reincidentes respecto al total de enlaces monitoreados del Cliente.
                    </td>               
                </tr>
                <tr >
                    
                    <td>MTTR/Promedio
                    </td>
                    <td>Tiempo promedio de resolución de tickets proactivos y reactivos atribuibles a Claro                    </td>               
                </tr>
                
               
               
            
            </table>

         </div>
         <div class="col-2"></div>
        </div>
    </div>
</div>
<!--FIN PAGINA 6-->