<!-- HOJA 6 -->
<div class="hoja">
    <div class="container-fluid">

        <!-- TITULO -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 p-3 text-center text-white fondo_rojo espaciotitulo">
                <h1><b>Histórico de Indicadores</b></h1>
            </div>
            <div class="col-1"></div>
        </div>

        <!-- TABLA -->
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <br><br><br><br><br>
                <table class="table table-sm table-striped">
                    
                    <thead>
                        <tr style="background-color: #ff0000; ">
                            <td class="rojo text-center" style="width: 20%;"> <b> Indicadores   </b> </td>
                            <td class="rojo text-center" style="width: 8%;"> <b>{{meses.MES_5}}</b></td>
                            <td class="rojo text-center" style="width: 8%;"> <b>{{meses.MES_4}}</b></td>
                            <td class="rojo text-center" style="width: 8%;"> <b>{{meses.MES_3}}</b></td>
                            <td class="rojo text-center" style="width: 8%;"> <b>{{meses.MES_2}}</b></td>
                            <td class="rojo text-center" style="width: 8%;"> <b>{{meses.MES_1}}</b></td>
                            <td class="rojo text-center" style="width: 8%;"> <b>{{meses.MES}}  </b></td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                        <td> <b>% Incidentes ≤ 8 horas </b></td>
                            <td class="text-center">{{hi_indi.rows.0.2}} %</td>
                            <td class="text-center">{{hi_indi.rows.1.2}} %</td>
                            <td class="text-center">{{hi_indi.rows.2.2}} %</td>
                            <td class="text-center">{{hi_indi.rows.3.2}} %</td>
                            <td class="text-center">{{hi_indi.rows.4.2}} %</td>
                            <td class="text-center">{{hi_indi.rows.5.2}} %</td>
                        </tr>

                        <tr>
                            <td> <b>% Incidentes > 8 horas </b></td>
                            <td class="text-center">{{hi_indi.rows.0.3}} %</td>
                            <td class="text-center">{{hi_indi.rows.1.3}}  %</td>
                            <td class="text-center">{{hi_indi.rows.2.3}}  %</td>
                            <td class="text-center">{{hi_indi.rows.3.3}}  %</td>
                            <td class="text-center">{{hi_indi.rows.4.3}}  %</td>
                            <td class="text-center">{{hi_indi.rows.5.3}}  %</td>
                        </tr>

                        <tr>
                            <td><b> Proactividad </b></td>
                            <td class="text-center">{{hi_indi.rows.0.4}} %</td>
                            <td class="text-center">{{hi_indi.rows.1.4}}   %</td>
                            <td class="text-center">{{hi_indi.rows.2.4}}   %</td>
                            <td class="text-center">{{hi_indi.rows.3.4}}   %</td>
                            <td class="text-center">{{hi_indi.rows.4.4}}   %</td>
                            <td class="text-center">{{hi_indi.rows.5.4}}   %</td>
                        </tr>

                        <tr>
                            <td><b> Sitios Reincidentes </b></td>
                            <td class="text-center">{{hi_indi.rows.0.5|floatformat:"-1"}} </td>
                            <td class="text-center">{{hi_indi.rows.1.5|floatformat:"-1"}} </td>
                            <td class="text-center">{{hi_indi.rows.2.5|floatformat:"-1"}} </td>
                            <td class="text-center">{{hi_indi.rows.3.5|floatformat:"-1"}} </td>
                            <td class="text-center">{{hi_indi.rows.4.5|floatformat:"-1"}} </td>
                            <td class="text-center">{{hi_indi.rows.5.5|floatformat:"-1"}} </td>
                        </tr>

                        <tr>
                            <td><b>Índice de Reincidencias </b></td>
                            <td class="text-center">{{hi_indi.rows.0.6}} %</td>
                            <td class="text-center">{{hi_indi.rows.1.6}}  %</td>
                            <td class="text-center">{{hi_indi.rows.2.6}}  %</td>
                            <td class="text-center">{{hi_indi.rows.3.6}}  %</td>
                            <td class="text-center">{{hi_indi.rows.4.6}}  %</td>
                            <td class="text-center">{{hi_indi.rows.5.6}}  %</td>
                        </tr>

                        <tr>
                            <td><b> MTTR / Promedio </b></td>
                            <td class="text-center">{{hi_indi.rows.0.7}} </td>
                            <td class="text-center">{{hi_indi.rows.1.7}}   </td>
                            <td class="text-center">{{hi_indi.rows.2.7}}   </td>
                            <td class="text-center">{{hi_indi.rows.3.7}}   </td>
                            <td class="text-center">{{hi_indi.rows.4.7}}   </td>
                            <td class="text-center">{{hi_indi.rows.5.7}}   </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<!-- FIN HOJA 6 -->