<!-- HOJA 7 -->
<div class="hoja col-12">
    <div class="container-fluid">
        <!-- TITULO -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 p-3 text-center text-white fondo_rojo espaciotitulo">
                <h1><b>Comportamiento de la Red del Cliente</b></h1>
            </div>
            <div class="col-1"></div>
        </div>

        <!-- TABLA -->
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <br><br><br><br><br>
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <td class="rojo text-center" style="background-color:#ff0000;width:20%;">
                                <b>SEP-25</b>
                            </td>

                            <td class="rojo text-center" style="background-color:#ff0000;width:10%;">
                                <b></b>
                            </td>

                            <td class="rojo text-center" style="background-color:#ff0000;width:10%;">
                                <b></b>
                            </td>

                            <td class="rojo text-center" style="background-color:#ff0000;width:10%;">
                                <b></b>
                            </td>

                            <td class="rojo text-center" style="background-color:#ff0000;width:10%;">
                                <b></b>
                            </td>

                            <td class="rojo text-center" style="background-color:#ff0000;width:10%;">
                                <b></b>
                            </td>

                            <td class="rojo text-center" style="background-color:#ff0000;width:10%;">
                                <b> FEB-26 </b>
                            </td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Disponibilidad</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>

                        <tr>
                            <td>Utilización</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>

                        <tr>
                            <td>Latencia</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<!-- FIN HOJA 7 -->