<!-- HOJA 8 -->
<div class="hoja col-12">
    <div class="container-fluid">
        <!-- TITULO -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 p-3 text-center text-white fondo_rojo espaciotitulo">
                <h1><b>Distribución de Incidentes</b></h1>
            </div>
            <div class="col-1"></div>
        </div>

        <!-- TABLA -->
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <br><br><br><br><br>

                <table class="table table-sm table-striped">
                    <thead>
                        <tr>

                            <td class="rojo text-center" style="background-color:#ff0000;width:40%;">
                                <b>Responsable</b>
                            </td>

                            <td class="rojo text-center" style="background-color:#ff0000;width:10%;">
                                <b>Datos</b>
                            </td>

                            <td class="rojo text-center" style="background-color:#ff0000;width:10%;">
                                <b>Internet</b>
                            </td>

                            <td class="rojo text-center" style="background-color:#ff0000;width:10%;">
                                <b>AE</b>
                            </td>
                        </tr>
                    </thead>

                    <tbody>

                        {% for fila in paginas_data.pag_8 %}
                        <tr>
                            <td>
                                {% if fila.RESPONSABLE == "CLIENTE" %}
                                    {{ data.nombre }}
                                {% else %}
                                    {{ fila.RESPONSABLE }}
                                {% endif %}
                            </td>
                            <td class="text-center">{{ fila.DATOS }}</td>
                            <td class="text-center">{{ fila.INTERNET }}</td>
                            <td class="text-center">{{ fila.AE }}</td>
                        </tr>
                        {% endfor %}

                        <!-- TOTAL -->
                        <tr>
                            <td><b>Total de Incidentes</b></td>
                            <td colspan="3" class="text-center">
                                <b>
                                    {{ paginas_data.pag_8.0.TOTAL|add:paginas_data.pag_8.1.TOTAL }}
                                </b>
                            </td>
                        </tr>

                    </tbody>
                </table>
                
            </div>
            <div class="col-3"></div>
        </div>
      </div>
</div>
<!-- FIN HOJA 8 -->